*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;

}
.parent{
    border:  solid 4px darkblue;
    display: flex;
    height: 100vh;
    justify-content:start ;
    align-items: end;
}
.child{
    height: 100px;
    width: 100px;
background-color: aqua;
margin: 2px;
text-transform: uppercase;
line-height: 100px;
text-align: center;

}