*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.header{
    border: solid 2px wheat;
    background-color: black;
    color: white;
    font-size: 20px;
    display: flex;
    margin: 10px 10px;
    height: 40px;

}
.topl{
    text-transform: uppercase;
    height: 30px;
    width: 50%;
    line-height: 30px;
    text-align: center;
    padding-top: 5px;
}
.topr{
    text-transform: uppercase;
    height: 30px;
    width: 50%;
    line-height: 30px;
    text-align: center;
    padding-top: 5px;
    


}
.topr a{
    color: aqua;
    text-decoration: none;

}
.im{
    display: flex;
    margin-bottom: 10px;
}
.img{
    border: 2px solid rebeccapurple;
    height: 230px;
    width: 25%;
    text-overflow: inherit;
    display: flex;
}
img{
    height: 230px;
    width: 100%;
    
}
.img{
    border: 2px solid rebeccapurple;
    height: 230px;
    width: 25%;
    text-overflow: inherit;
}
img{
    height: 230px;
    width: 100%;
    
}.img{
    border: 2px solid rebeccapurple;
    height: 230px;
    width: 25%;
    text-overflow: inherit;
}
img{
    height: 230px;
    width: 100%;
    
}
.known{
    background-color: black;
    height: 200px;
    width: 25%;
padding: 10px 10px;
line-height: 50px;
padding-left: 40px;
margin-left: 2px;
}
.known a{
    color: white;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;

}
.a{
    display: flex;
    margin-left: 2px;
}
.fulli{
    height: 278px;
    width: 100%;
}